.container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    flex-flow: row wrap;
    gap: 20px;
}

.container-item {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.form input, select {
    padding: 10px;
    border-color: #cccccc;
    border-radius: 4px;
    background-color: #ffffff;
    min-height: 10px;
}

.form input {
    width: 90%;
}

.form select {
    width: 98%;
}

.form .checkbox {
    width: 7%;
}

button {
    cursor: pointer;
}

.button-send {
    padding: 14px 20px;
    border-radius: 5px;
    background-color: #52AE5A;
    color: #ffffff;
    border-width: 0px;
}

table {
    width: 500px;
}

thead {
    width: 100px;
    margin: 20px;
    text-align: left;
    background-color: #F2F2F2;
}

th {
    padding: 12px 10px;
}

tbody td {
    padding-left: 10px;
    border-bottom: thin solid;
    border-color: #F2F2F2;
}
