/* Applies to all paragraphs of the HTML document (except where overridden by selectors). */
body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container {
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

.header {
    z-index: 3;
    width: 100%;
    min-height: 64px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.08);
    font-weight: bold;
}

.header a {
    text-decoration-line: none;
}

.header a:link {
    color: black;
}

.header a:hover {
    text-decoration: none;
    color: #75d2ff;
    border-radius: 2px;
}

.header-wrapper {
    padding: 1em 0;
}

.header-inner {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
    /* max-width: 36em; */
}

.nav {
    overflow: hidden;
    /* z-index: 3; */
    /* position: relative; */
    /* text-align: center; */
    font-size: 100%;
}

.nav .nav-right {
    text-align: right;
}

.menu {
    padding: 0;
    margin: 0;
    line-style: none;
    line-height: 1.5;
    font-weight: 500;
}

.menu-item {
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
}

.menu-dropdown {
  float: left;
  overflow: hidden;
  justify-content: left;
  text-align: left;
    /* position: relative; */
    /* display: inline-block; */
}

.menu-dropdown .menu-dropdown-button {
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 16px;
  font-family: inherit; /* For vertical align on mobile phones */
  margin: 0; /* For vertical align on mobile phones */
}

.menu-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.menu-dropdown-content a {
    float: none;
    display: block;
    text-decoration: none;
    /* position: absolute; */
}

/* Show the dropdown menu on hover */
.menu-dropdown:hover .menu-dropdown-content {
  display: block;
  color: #75d2ff;
}

.main {
    padding-top: 4em;
    margin: 0 8 8 8;
}

.main-header {
    text-align: center;
    padding: 5px;
    text-align: center;
    border-radius: 20px 20px 0 0;
    text-transform: uppercase;
}

.main-header p {
    font-size: 16px;
    font-weight: bold;
}
