.form input, select {
    padding: 13px;
    border-color: #cccccc;
    border-radius: 5px;
    background-color: #ffffff;
    min-width: 80%;
}

button {
    cursor: pointer;
    padding: 12px 18px;
    border-radius: 5px;
    color: #ffffff;
    border-width: 0px;
}

#button-add {
    background-color: #52AE5A;
}

#button-clear-all {
    background-color: #E74C3C;
}

ul {
    padding-left: 0;
}

ul li {
    position: relative
    margin-bottom: 10px;
    list-style-type: none;
    padding: 10px;
    border: solid;
    border-color: #cccccc;
    border-width: 2px;
    border-radius: 4px;
    background-color: #f2f2f2;
}

ul li .icon {
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

ul li:hover .icon {
  right: 0px;
}
